.wrapper {
    width: 100%;
}

.wrapper form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper label {
    padding-bottom: 5px;
    font-size: 20px;
}

.wrapper select {
    text-align: center;
    margin: auto;
    padding: 5px 15px 5px 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    letter-spacing: 2px;
}

.inputsWrapper, .buttonsWrapper {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-bottom: 1px solid white; */
}

.inputsWrapper div, .buttonsWrapper button {
    padding: 10px;
    margin: 10px;
}

.buttonsWrapper button:hover {
    cursor: pointer;
}

